<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/socket.io.min.js"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<html>
  <head></head>
  <body>
    <div id="originalImage" style="width:400px; height:400px"><img id="img1" style="width:400px; height:400px"></div><br>

    <div id="tool">
      <input type="checkbox" @click="hsvCheck" />HSV 
      &nbsp;
      <input type="checkbox" @click="hlsCheck" />HLS
      <div v-show="hsvDiv">
        <table>
          <color-component 
            namespace="HSV"
            component="H"
            :json="json"></color-component>
          <color-component
            namespace="HSV"
            component="S"
            :json="json"></color-component>
          <color-component
            namespace="HSV"
            component="V"
            :json="json"></color-component>
        </table>
      </div>
      <div v-show="hlsDiv">
        <table>
          <color-component
            namespace="HLS"
            component="H"></color-component>
          <color-component 
            namespace="HLS"
            component="L"></color-component>
          <color-component 
            namespace="HLS"
            component="S"></color-component>
        </table>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
var socket = io.connect('http://localhost:5000');
socket.on('connect', function() {
  socket.emit('setup', '');
});
socket.on('image', function(arg) {
  json = JSON.parse(arg)
  image = json.data;
  image = image.substring(2);
  image = image.slice(0, -1);
  let imgBase64 = 'data:' + json.type + ';base64,' + image;
    $("#img1").attr("src", imgBase64)
});

Vue.component('color-component', {
  template: '\
    <tr>\
      <td>{{ component }}</td>\
      <td><input type="range" :id="ID" min="0" max="255" value="0" step="1" style="width:500px" :oninput="action_slider" @change="changed()" v-model="val"></td>\
      <td><input type="number" :id="ID_disp" min="0" max="255" value="0" style="width:40px" :oninput="action_disp" @change="changed() "v-model="val"></td>\
    </tr>\
  ',
  data: function() {
    return {
      val: 0
    }
  },
  computed: {
    ID: function() {
      return this.namespace + "_" + this.component
    },
    ID_disp: function() {
      return this.ID + "_disp"
    },
    action_slider: function() {
      return this.ID_disp + ".value=" + this.ID + ".value"
    },
    action_disp: function() {
      return this.ID + ".value=" + this.ID_disp + ".value"
    }
  },
  methods: {
    changed: function() {
      console.log(this.val)
      this.$parent.$emit('changed', 
        {
          "namespace":this.namespace,
          "component": this.component,
          "value": this.val
        }
        );
    }
  },
  props: {
    component: {
      type: String,
      required: true
    },
    namespace: {
      type: String,
      required: true
    }
  }
})

new Vue({
  el: '#tool',
  data: {
    hsvDiv: false,
    hlsDiv: false,
    json: {
      "isHSV": false,
      "isHLS": false,
      "HSV": {
        "H": 0,
        "S": 0,
        "V": 0
      },
      "HLS": {
        "H": 0,
        "L": 0,
        "S": 0
      }
    }
  },
  created: function() {
    this.$on("changed", function(msg) {
      this.json[msg.namespace][msg.component] = msg.value
      socket.emit('filter', this.json);
    })
  },
  methods: {
    hsvCheck: function() {
      this.hsvDiv = !this.hsvDiv
      this.json.isHSV = this.hsvDiv
      socket.emit('filter', this.json);
    },
    hlsCheck: function() {
      this.hlsDiv = !this.hlsDiv
      this.json.isHLS = this.hlsDiv
      socket.emit('filter', this.json);
    }
  }
})
</script>